<ion-header>
  <ion-toolbar>
    <br>
    <ion-title>Adopta
      <p>{{ cantidadPerros() }} peluditos buscando un hogar</p>
    </ion-title>

    <ion-segment [(ngModel)]="filtro">
      <ion-segment-button value="default">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="disponibles">
        <ion-label>Disponibles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="adoptados">
        <ion-label>Adoptados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">



  <ion-grid>
  <ion-row>
    @for (p of perrosFiltrados(); track p.id) {
      
      <ion-col size="6">
        <ion-button fill="clear" class="ion-no-padding" [routerLink]="['/detalle', p.id]">
        <ion-card>
          
            @if (!p.adoptado) {
              <ion-badge color="success"><ion-icon name="checkmark-circle"></ion-icon> Disponible</ion-badge>
            }@else{
              <ion-badge color="dark"><ion-icon name="close-circle"></ion-icon> Adoptado</ion-badge>
            }
            <img [src]="p.foto" />
            <ion-card-header>
              <ion-card-title>{{ p.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ p.raza }}<br>  --- <br> {{ p.edad }} año(s)</ion-card-subtitle>
              
            </ion-card-header>
          
        </ion-card>
</ion-button>
      </ion-col>
      
    } @empty {
    <div class="estado-vacio">
      <ion-icon name="search-outline"></ion-icon>
      <p>No hay peluditos disponibles.</p>
    </div>
  }
  
  </ion-row>
</ion-grid>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="/nuevo" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
