<ion-header>
  <ion-toolbar>
    <br>
    <ion-title>Adopta
      <p>{{ cantidadPerros() }} peluditos buscando un hogar</p>
    </ion-title>

    @if (correo(); as usuario) {
      <ion-note slot="end" class="sesion">{{ usuario }}</ion-note>
    }

    <ion-buttons slot="end">
      <ion-button (click)="salir()" aria-label="Cerrar sesión">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-segment [(ngModel)]="filtro">
      <ion-segment-button value="default">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="disponibles">
        <ion-label>Disponibles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="adoptados">
        <ion-label>Adoptados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">



  <ion-grid>
  <ion-row>
    @for (p of perrosFiltrados(); track p.id) {
      
      <ion-col size="6">
        <ion-button fill="clear" class="ion-no-padding enlace-tarjeta" [routerLink]="['/detalle', p.id]">
          <app-tarjeta-perro [perro]="p"></app-tarjeta-perro>
        </ion-button>
      </ion-col>
      
    } @empty {
    <div class="estado-vacio">
      <ion-icon name="search-outline"></ion-icon>
      <p>No hay peluditos disponibles.</p>
    </div>
  }
  
  </ion-row>
</ion-grid>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="/nuevo" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
