<ion-card [class.adoptado]="perro.adoptado">
  @if (perro.adoptado) {
    <ion-badge color="dark"><ion-icon name="close-circle"></ion-icon> Adoptado</ion-badge>
  } @else {
    <ion-badge color="success"><ion-icon name="checkmark-circle"></ion-icon> Disponible</ion-badge>
  }

  <img [src]="perro.foto" [alt]="perro.nombre" />

  <ion-card-header>
    <ion-card-title>{{ perro.nombre }}</ion-card-title>
    <ion-card-subtitle>{{ perro.raza }} &middot; {{ perro.edad }}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
